/* width */


::-webkit-scrollbar {
    width: 4px !important;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey !important; 
    border-radius: 1px !important;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(218, 172, 3) !important; 
    border-radius: 1px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: red; 
}



body {
  margin: 0;
  font-smoothing: none;
  -webkit-font-smoothing: none;
  text-rendering: optimizeSpeed;
  padding: 0;
  color: #ccc !important;
  font-weight: 200;
  font-size: 13px !important;
  background-color: #1f262c !important;

}

.ms-Fabric {
    color: #333333;
    font-size: 14px;
    font-weight: 400;
}

